---
import dayjs from "dayjs";
import config from "../config";

import "../styles/color.scss";
import "../styles/main.scss";
import "../styles/style.scss";

export interface Props {
  title?: string;
  noIndex?: boolean;
}

const siteURL = config.siteUrl;
const eventName = config.event.name;
const eventDateTime = config.event.date;
const eventPlace = config.event.place;
const eventContent = config.event.content;
const eventTwitterId = config.event.twitterId;

const title = Astro.props.title
  ? `${Astro.props.title} - ${eventName}`
  : eventName;
const description = `${dayjs(eventDateTime).format(
  "YYYY年M月D日"
)}、${eventPlace}にて開催される、${eventContent}「${eventName}」の特設サイトです。`;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="generator" content="Nectarition Sakura v5.0" />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content={`${eventContent}「${eventName}」`} />
    <meta property="og:image" content={`${siteURL}/assets/brand/icon.png`} />
    <meta property="og:url" content={`${siteURL}/`} />
    <meta property="og:description" content={description} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content={`@${eventTwitterId}`} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={`${siteURL}/assets/brand/icon.png`} />
    {Astro.props.noIndex && <meta name="robots" content="noindex" />}
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
